table {
    width: 100%;
  }
  
  mat-form-field {
    width: 20%;
  }
  
  .mat-toolbar {
    margin-bottom: 20px;
  }

  .green-button {
    background-color: lightgreen;
    color:white;
  }

  .blue-button {
    background-color: rgba(30, 30, 239, 0.751);
    color:white;
  }

  .red-button {
    background-color: red;
    color:white;
  }